body{
    background-color: black;
    animation-name:body;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
h1{
    text-align: center;
    margin-top: 100px;
    color: chartreuse;
    animation-name:text-animation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.b1{
    width: 25px;height: 25px;
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 50%;
    background-color: white;
    animation-name:box;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes text-animation {
    50%{
        transform: scale(4,4);
    }
    50%{
        transform: scale(0.5,0.5);
        
        height: 200px;
        width: 500px;

    }
}
@keyframes box {
    40%{
        transform: translate(200px,500px);
        background-color: yellow;

    }
    30%{
        transform: translate(300px,0px);
        background-color: white;
    }
    30%{
        transform: translate(400px,200px);
        background-color: red;
    }
}
@keyframes body {
    50%{
        background-color: white;
    }
    50%{
        background-color: cornsilk;
    }
    
}